@page "/car/{id:int}"
@using System.Security.Claims
@inject ICarService CarService
@inject ICartService CartService
@inject ILocalStorageService LocalStorage
@inject IToastService ToastService

<div class="media-details">
    <div class="media-img-wrapper-large mr-2">
        <img class="media-img-large" src="@car.Image" alt="@car.Title" />
    </div>
    <div class="media-body-details">        
        <h2 class="mb-0">@car.Title</h2>
        <p>@car.Description</p>      
        <div class="vehicle-info">
            <div class="details-item">
                Mileage
                <br />
                <strong>
                    @car.Mileage
                </strong>
            </div>
            <div class="details-item">
                Engine + Fuel Type
                <br />
                <strong>
                    @car.Engine
                </strong>
            </div>
            <div class="details-item">
                Gearbox
                <br />
                <strong>
                    @car.Gearbox
                </strong>
            </div>
            <div class="details-item">
                Bodystyle
                <br />
                <strong>
                    @car.Bodystyle
                </strong>
            </div>
            <div class="details-item">
                Colour
                <br />
                <strong>
                    @car.Colour
                </strong>
            </div>
            <div class="details-item">
                Doors
                <br />
                <strong>
                    @car.Doors
                </strong>
            </div>
        </div>
        @if(car.Variants != null && car.Variants.Count > 0){
            <br /><br />
            <strong>Car Warranty</strong>
            <div class="form-group">
                <select class="form control" @bind="currentEditionId">
                    @foreach (var variant in car.Variants){
                        <option value="@variant.EditionId">@variant.Edition.Name</option>
                    }
                </select>
            </div>

        }
        @if (GetSelectedVariant() != null)
        {
            @if (GetSelectedVariant().OriginalPrice > GetSelectedVariant().Price)
            {
                <br>
                <h6 class="text-muted original-price">£@GetSelectedVariant().OriginalPrice</h6>
            }
            <br />
            <h4 class="price">£@GetSelectedVariant().Price</h4>
        }        
        <button class="btn btn-primary" @onclick="AddToCart"><i class="oi oi-cart"></i>&nbsp;&nbsp;&nbsp;Add to Cart</button>                
    </div>
</div>

@code {
    private Car car = new Car();

    private int currentEditionId = 1;

    private string User;



    // getting the Id parameter for use  in the @page directive
    [Parameter]
    public int Id { get; set; }

    // This allows us asyncronously get the car by the id provided by the parameter above
    // with this we can display the details of the specific car clicked by the user
    protected override async Task OnInitializedAsync()
    {
        car = await CarService.GetCar(Id);      
    }
    

    private CarVariant GetSelectedVariant(){
        var variant = car.Variants.FirstOrDefault(v => v.EditionId == currentEditionId);
        return variant;
    }

    private async Task AddToCart(){
        await CartService.AddToCart(GetSelectedVariant());
    }
}
